/*顶部通栏*/
.lt_header {
    width: 100%;
    height: 1.28rem;
    text-align: center;
    line-height: 1.28rem;
    color: #fff;
    font-size: 0.56rem;
    background-color: #e6002d;
    position: relative;
}
.lt_header a{
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.w {
    padding-bottom: 1.6rem;
}

/*==================登录页=====================*/
/*登录表单区域*/
.main {
    padding: 15px 10px 10px 10px;
}
.main .lt_login_form {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
}
.main .lt_login_form input{
    width: 100%;
    padding: 0.4em;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e6002d;
    background: transparent;
    font-size: 0.44rem;
    outline: none;
}
.main .lt_login_form #user{

}
.main .lt_login_form #psw{}
.main .lt_login_form #btn{
    width: 100%;
    background-color: #e6002d;
    border: none;
    text-align: center;
    color: #fff;
    padding: 0.6em 0;
    font-size: 0.48rem;
}

/*==================登录页=====================*/

/*==================购物车页=====================*/
/*修改下拉刷新动画位置*/
.cart .mui-pull-top-pocket {
    top: unset;
}

.lt_header .lt_refresh {
    position: absolute;
    right: 10px;
    left: unset;
}

/*购物车内商品栏*/
.main_cart {
    padding-top: 1.28rem;
    padding-bottom: 1.6rem;
}


.main_cart .mui-table-cell {
    width: 100%;
    display: block;
    height: 90px;
}
.main_cart .mui-table-cell img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}
.main_cart .lt_cart_info {
    padding-left: 40px;
    height: 100%;
}
.main_cart .lt_cart_info p {
    font-size: 0.4rem;
    color: #000;
    margin-bottom: 10px;
}
.main_cart .price {
    color: #e6002d;
    margin-right: 10px;
}
.main_cart .oldPrice {
    color: #666;

}
.main_cart .num {
    float: right;
    color:#666;
}
.main_cart .size {
    margin-top: 5px;
    color:#666;
}


.main_cart .mui-input-row {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width: 30px;
    height: 30px;
}
.main_cart ul.mui-table-view {
    padding-bottom: 40px;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
    left: 0!important;
    top: 0!important;
}
/*订单栏*/
.cart .lt_cart_order {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    bottom: 1.6rem;
    padding-left: 10px;
    color: #e6002d;
    z-index: 999;
}
.cart .lt_cart_order span {

}
.cart .lt_cart_order a {
    float: right;
    text-align: center;
    width: 80px;
    height: 100%;
    display: inline-block;
    color: #fff;
    background-color: #e6002d;
}
/*弹出编辑框*/
.pro_edit {

}
.pro_edit .pro_size {
    text-align: left;
    display: block;
    margin-top: 10px;
}
.pro_edit .pro_size span {
    padding: 2px 5px;
    margin-top: 5px;
    margin-right: 2px;
    border: 1px solid #ccc;
    display: inline-block;
}
.pro_edit .pro_size span.now {
    background-color: #fff;
    border: 1px solid #e6002d;
}
.pro_edit .pro_num {
    margin-top: 10px;
    text-align: left;
    display: block;
}

/*==================购物车页=====================*/
/*==================个人中心=====================*/
.lt_logout {
    width: 100%;
    padding: 0 15px;
    margin-top: 15px;
}
.lt_logout button{
    width: 100%;
    text-align: center;
}

/*==================个人中心=====================*/